@page
@model IndexModel
@{
    ViewData["Title"] = "P.S.Realty";
}


<!-- Header and Introduction -->
    <div class="row text-center">
        <div class="col">
            <img src="images/header-home.jpg" width="100%">
        </div>
        <div class="col">
            <h1 class="display-4 my-3">Welcome to Premier Sanctuary Realty</h1>
            <p class="my-4" display="6">
                Your dream home awaits, and we want to help you find it! Connect with one of our real estate agents to get started today.
            </p>
            <a href ="/Agents" class="btn btn-primary btn-lg btn-block">Find an Agent</a>
        </div>
    </div>
<!-- Property cards -->
    <div class="row g-5 mt-2 text-center">
        <div class="col-sm-4">
            <div class="card px-3 py-3 bg-light">
            <div class="card-body">
                <img src="images/home.png" class="card-img-top px-5 py-3" alt="Estate icons created by Roundicons Premium - Flaticon">
                <p class="card-text">Unlock the door to your next chapter. Check out our current property listings now.</p>
                <a href="/Properties" class="btn btn-info">Browse Properties</a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card px-3 py-3 bg-light">
            <div class="card-body">
                <img src="images/searching.png" class="card-img-top px-5 py-3" alt="Search icons created by Freepik - Flaticon">
                <p class="card-text">Simplify your home-buying journey. Use our search feature to find your new home today!</p>
                <a href="/Properties/PropertySearch" class="btn btn-info">Search Listings</a>
            </div>
            </div>
        </div>
            <div class="col-sm-4">
            <div class="card px-3 py-3 bg-light">
            <div class="card-body">
                <img src="images/search-engine.png" class="card-img-top px-5 py-3" alt="Rank icons created by Pixelmeetup - Flaticon">
                <p class="card-text">Make informed decisions. View the newest home buying stats to guide your next move!</p>
                <a href="/Properties/PropertyStatistics" class="btn btn-info">See Statistics</a>
            </div>
            </div>
        </div>
    </div>
<!-- Neighborhood Section -->
    <div class="row mt-5 text-center">
        <div class="col">
            <h1 class="display-4 my-3">Find the Neighborhood That's Right for You</h1>
            <p class="my-4" display="6">
                Home-buying isn't just about finding a house, it is about joining a community. Check out our list of neighborhoods to finds your new community now.
            </p>
            <a href ="/Neighborhoods" class="btn btn-primary btn-lg btn-block">See Neighborhoods</a>
        </div>
        <div class="col">
            <img src="images/neighborhood.jpg" width="100%">
        </div>
    </div>



