@page
@model IndexModel
@{
    ViewData["Title"] = "P.S.Realty";
}



    <div class="row">
        <div class="col">
            <img src="images/header-home.jpg" width="100%">
        </div>
        <div class="col">
            <h1 class="display-4">Welcome to Premier Sanctuary Realty</h1>
            <p display="6">
                Your dream home awaits! Connect with one of our agents to get started.
            </p>
            <a href ="/Agents" class="btn btn-primary btn-lg btn-block">Find an Agent</a>
        </div>
    </div>

    <div class="row g-5 mt-3">
        <div class="col-sm-4">
            <div class="card px-3 py-3 bg-light">
            <div class="card-body">
                <img src="images/home.png" class="card-img-top px-5 py-3" alt="Estate icons created by Roundicons Premium - Flaticon">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/Properties" class="btn btn-primary">Browse Properties</a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card px-3 py-3 bg-light">
            <div class="card-body">
                <img src="images/searching.png" class="card-img-top px-5 py-3" alt="Search icons created by Freepik - Flaticon">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/Properties/PropertySearch" class="btn btn-primary">Search Listings</a>
            </div>
            </div>
        </div>
            <div class="col-sm-4">
            <div class="card px-3 py-3 bg-light">
            <div class="card-body">
                <img src="images/search-engine.png" class="card-img-top px-5 py-3" alt="Rank icons created by Pixelmeetup - Flaticon">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/Properties/PropertyStatistics" class="btn btn-primary">See Statistics</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        
        <div class="col">
            <h1 class="display-4">Welcome to Premier Sanctuary Realty</h1>
            <p display="6">
                Your dream home awaits! Connect with one of our agents to get started.
            </p>
            <a href ="/Neighboorhoods" class="btn btn-primary btn-lg btn-block">See Neighborhoods</a>
        </div>
        <div class="col">
            <img src="images/neighborhood.jpg" width="100%">
        </div>
    </div>



