@page
@model P_S_Reality.Pages.OurTeamModel
<h2>Meet Our Team</h2>
<div class="team-grid">
    <div class="team-member">
        <img src="https://i.postimg.cc/3xRrstjP/srikar-pic.jpg" alt="Member 1" class="rounded-circle" style="width: 150px; height: 150px;"/>
        <h3>Srikar Kudumula</h3>
        <p>Front-End Developer</p>
    </div>
    <div class="team-member">
        <img src="" alt="Member 2" class="rounded-circle" style="width: 150px; height: 150px;" />
        <h3>Coartney Meade</h3>
        <p>Front-End Developer</p>
    </div>
    <div class="team-member">
        <img src="~/images/cassandrahorton-headshot.jpg" alt="Member 3" class="rounded-circle" style="width: 150px; height: 150px;" />
        <h3>Cassandra Horton</h3>
        <p>Front-End Developer</p>
    </div>
</div>
@{
}
