@page
@model P_S_Reality.Pages.Neighborhoods.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Neighborhood</h1>

<hr />
<div class="row w-75 mx-auto">
    <form method="post" class="row g-3 mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Neighborhood.NeighborhoodID" />
        <div class="form-group col-md-6">
            <label asp-for="Neighborhood.Name" class="control-label"></label>
            <input asp-for="Neighborhood.Name" class="form-control" />
            <span asp-validation-for="Neighborhood.Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Neighborhood.City" class="control-label"></label>
            <input asp-for="Neighborhood.City" class="form-control" />
            <span asp-validation-for="Neighborhood.City" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Neighborhood.State" class="control-label"></label>
            <input asp-for="Neighborhood.State" class="form-control" />
            <span asp-validation-for="Neighborhood.State" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Neighborhood.ZipCode" class="control-label"></label>
            <input asp-for="Neighborhood.ZipCode" class="form-control" />
            <span asp-validation-for="Neighborhood.ZipCode" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Neighborhood.Population" class="control-label"></label>
            <input asp-for="Neighborhood.Population" class="form-control" />
            <span asp-validation-for="Neighborhood.Population" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Neighborhood.AveragePrice" class="control-label"></label>
            <input asp-for="Neighborhood.AveragePrice" class="form-control" />
            <span asp-validation-for="Neighborhood.AveragePrice" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Neighborhood.PopularityScore" class="control-label"></label>
            <input asp-for="Neighborhood.PopularityScore" class="form-control" />
            <span asp-validation-for="Neighborhood.PopularityScore" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Neighborhood.CrimeRate" class="control-label"></label>
            <input asp-for="Neighborhood.CrimeRate" class="form-control" />
            <span asp-validation-for="Neighborhood.CrimeRate" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-2">
            <input type="submit" value="Update Record" class="btn btn-primary" />
        </div>
        <div class="form-group col-lg-3">
            <a href ="/Neighborhoods" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
