@page
@model P_S_Reality.Pages.BuyerSellers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BuyerSeller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BuyerSeller.FullName" class="control-label"></label>
                <input asp-for="BuyerSeller.FullName" class="form-control" />
                <span asp-validation-for="BuyerSeller.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerSeller.EmailAddress" class="control-label"></label>
                <input asp-for="BuyerSeller.EmailAddress" class="form-control" />
                <span asp-validation-for="BuyerSeller.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerSeller.PhoneNumber" class="control-label"></label>
                <input asp-for="BuyerSeller.PhoneNumber" class="form-control" />
                <span asp-validation-for="BuyerSeller.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerSeller.Role" class="control-label"></label>
                <input asp-for="BuyerSeller.Role" class="form-control" />
                <span asp-validation-for="BuyerSeller.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerSeller.PreferredContactMethod" class="control-label"></label>
                <input asp-for="BuyerSeller.PreferredContactMethod" class="form-control" />
                <span asp-validation-for="BuyerSeller.PreferredContactMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerSeller.DateRegistered" class="control-label"></label>
                <input asp-for="BuyerSeller.DateRegistered" class="form-control" type="date" />
                <span asp-validation-for="BuyerSeller.DateRegistered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
